body {
    font-family: "Nunito Sans", sans-serif;
    background-color: #f5f9fe;
}

hmtl {
    font-size: 10px;
}

.wrapper {
    max-width: 1550px;
    margin: 0 auto;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}