$primary-main: #2a73dd;
$primary-drak: #1d365e;
$primary-gray: gray;
$primary-yellow: rgb(226, 226, 19);
$primary-shadow: #e2ebfc;
$primary-fff: #fff;
$primary-white-f5: #f5f9fe;
$primary-white: #ffffff;